*{
    margin:0;
    padding:0;
    color: #FFFFFF;

}
body{
    background:linear-gradient(to right,#CF842B,#D573DF);
}
.label{
    border-radius: 16px;
    padding: 14px 190px;
    font-size: 40px;
    background: linear-gradient( to right, #D573DF, #CF842B);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.wraper__head{
    padding: 16px 0 0 0;
    display: flex;
    justify-content: center;
}
.burger__menu{
    display: inline-block;
    background: linear-gradient( to right, #D573DF, #CF842B);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    padding: 16px;
    cursor: pointer;
}
.wraper__burger__menu{
    display: flex;
    justify-content: center;
    margin-left: 56px;
}
.element{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 9px;
}
.element span{
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #FFFFFF;
    transition: transform 0.4s, opacity 0.4s;
}
.wraper__label{
    display: flex;
    justify-content: center;
    flex-grow: 6;
}
